<input type="text" placeholder="nama" [(ngModel)]="searchValue">
<table class="table">
    <thead>
      <tr>
        <th scope="col">No.</th>
        <th scope="col">Nama</th>
        <th scope="col">Jurusan</th>
        <th scope="col">Nilai</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let std of students | filter : searchValue; index as i">
        <th scope="row">{{i+1}}</th>
        <td>{{std.nama | titlecase}}</td>
        <td>{{std.jurusan | titlecase}}</td>
        <td>{{std.nilai | number}}</td>
      </tr>
    </tbody>
  </table>